html, body{
  height: 100%;
}

.site{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    'hero hero hero hero'
    'time-icon time time time'
    'news news news news-icon'
    'song-icon int int int'
    'movie movie movie movie-icon'
    'video-icon video video video'
    'source source source source';
/* The image used */
 background-image: url("../img/joanne.jpg");

 /* Full height */
 height: 100%;

 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

a{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: underline;
}

h1, h2{
  font-family: 'Poiret One', cursive;
  text-transform: uppercase;
}

h1{
  letter-spacing: 3px;
  font-size: 4em;
}

p{
  font-family: 'Open Sans', sans-serif;
}

.time-icon, .news-icon, .song-icon, .movie-icon, .video-icon{
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 5em;
}



.hero{
  grid-area: hero;
  height: 760px;
  text-align: center;
}

/*timeline*/
.timeline{
  grid-area: time;
  height: 500px;
  background-color: #ef8291;
}

.time-icon{
  grid-area: time-icon;
}


/*News API portion*/
.news{
  grid-area: news;
  background-color: #332c2d;
}

.news-icon{
  grid-area: news-icon;
}

.news h1{
  text-align: center;
}

.latest-news{
  justify-content: flex-start;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px #ccc;
}

.thumbnail{
  max-width: 20%;
  height: auto;
  flex-basis: 20%;
  margin-right: 10px;
}

.text{
  flex-basis: 80%;
}

/*Spotify playlist portion*/
.interactive{
  grid-area: int;
  height: auto;
  background-color: #d38eff;
}

.spotify-player{
  background-color: #333;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

.song-icon{
  grid-area: song-icon;
}

/*styling the cards*/
.cards1, .cards2{
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2% 0;
}

.card{
  color: #fff;
  width: 350px;
  height: 350px;
  margin-right: 10px;
  border-radius: 5px;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}

.card h3{
  font-family: 'Poiret One', cursive;
  font-size: 1.4em;
  margin-bottom: 1%;
  text-align: center;
}

.card p{
  line-height: 1em;
}

.card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.card .front,
.card .back {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .back{
  background: #333;
  position: absolute;
  border-radius: 5px;
  z-index: 3;
  top: 0;
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;
  line-height: 1.1em;
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

/*adding in front bg img*/
#card1, #card2, #card3, #card4, #card5, #card6{
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
}

#card1{
  background-image: url(../img/star-cd.png);
}

#card2{
  background-image: url(../img/joanne1.png);
}

#card3{
  background-image: url(../img/artpop.png);
}

#card4{
  background-image: url(../img/born.png);
}

#card5{
  background-image: url(../img/monster.png);
}

#card6{
  background-image: url(../img/fame.png);
}

/*OMDB API styling*/
.movies{
  grid-area: movie;
  height: auto;
  background-color: #8d37a2;
}

.movies h2{
  flex-basis: 100%;
  text-align: center;
}

.movie-icon{
  grid-area: movie-icon;
}

.posters{
  margin: 1% 4%;
}

.poster-img{
  max-width: 90%;
  height: auto;
  flex-basis: 90%;
}

/*videos*/
.videos{
  grid-area: video;
  height:100%;
  background-color: #4938d3;
}

.video-icon{
  grid-area: video-icon;
}

.video-players{
  margin: 3% 0;
}

.sources{
  grid-area: source;
  height: 200px;
}

@media only screen and (max-width: 767px) {
  .site{
    grid-template-columns: 100%;
    grid-template-rows: repeat(11, auto);
    grid-template-areas:
      'hero'
      'time-icon'
      'time'
      'news-icon'
      'news'
      'song-icon'
      'int'
      'movie-icon'
      'movie'
      'video-icon'
      'video'
      'source';
  }

  .hero{
    height: 100%;
  }

}
