@supports (grid-area:auto) {
  html, body{
    height: 100%;
  }

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

  .site{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
      'hero hero hero hero hero'
      'intro intro intro intro intro-icon'
      'time-icon time time time time'
      'int int int int song-icon'
      'video-icon video video video video'
      'movie movie movie movie movie-icon'
      'news-icon news news news news'
      'source source source source source';
  /* The image used */
   background-image: url("../img/joanne.jpg");

   /* Full height */
   height: 100%;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }

  .flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .hidden{
    display: none;
  }

  a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover{
    text-decoration: underline;
  }

  h1, h2{
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    margin: 30px 0;
  }

  h1{
    letter-spacing: 3px;
    font-size: 4em;
  }

  p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    margin-bottom: 3%;
    text-align: center;
  }

  .intro-icon, .time-icon, .news-icon, .song-icon, .movie-icon, .video-icon{
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 5em;
  }

  .hero{
    grid-area: hero;
    height: 760px;
    text-align: center;
    color: #fff;
  }

  .intro{
    grid-area: intro;
    height: auto;
    background-color: #fad6a5;
  }

  .intro-icon{
    grid-area: intro-icon;
  }

  .img-row{
    justify-content: center;
  }

  .img-row img{
    margin: 1% 1%;
    flex-basis: 30%;
    max-width: 30%;
    height: auto;
  }

  /*timeline*/
  .timeline-hd{
    grid-area: time;
    height: auto;
    background-color: #ef8291;
  }

  .time-icon{
    grid-area: time-icon;
  }

  .section {
    padding: 2% 0;
    height: 100%;
  }

  .section .container {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
  }

  .section h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }

  .section h2 {
    font-size: 1.3rem;
  }


  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .timeline {
    white-space: nowrap;
    overflow-x: hidden;
  }

  .timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
  }

  .timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #fff;
  }

  .timeline ol li:last-child {
    width: 280px;
  }

  .timeline ol li:not(:first-child) {
    margin-left: 14px;
  }

  .timeline ol li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #F45B69;
  }

  .timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 280px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
  }

  .timeline ol li div::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }

  .timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
    border-radius: 15px 15px 15px 0;
  }

  .timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
  }

  .timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
    border-radius: 0 15px 15px 15px;
  }

  .timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
  }

  .timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }


  /* TIMELINE ARROWS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    z-index: 100;
  }

  .timeline .arrows .arrow__prev {
    margin-right: 20px;
  }

  .timeline .disabled {
    opacity: .5;
  }

  .timeline .arrows img {
    width: 45px;
    height: 45px;
  }

  /*Timeline videos*/
  .modal {
    justify-content: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  }

  .show-vid{
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    color: darkred;
    cursor: pointer;
  }

  .video-wrapper{
    margin-top: 12%;
    align-items: flex-start;
  }

  /* The Close Button */
  .close {
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    margin-left: 2%;
  }

  .close:hover,
  .close:focus {
    color: #ef8291;
    cursor: pointer;
    text-decoration: none;
  }

  /*News API portion*/
  .news{
    grid-area: news;
    background-color: #E8B1D5;
  }

  .news-icon{
    grid-area: news-icon;
  }

  .news h1{
    text-align: center;
  }

  .latest-news{
    justify-content: flex-start;
    background-color: #fff;
    padding: 2%;
    margin: 3%;
    box-shadow: 2px 2px 5px #333;
    border-radius: 5px;
  }

  .thumbnail{
    max-width: 19%;
    height: auto;
    flex-basis: 19%;
    margin-right: 5px;
  }

  .text{
    flex-basis: 79%;
    color: #333;
  }

  .text h2{
    margin: 0;
  }

  /*Spotify playlist portion*/
  .interactive{
    grid-area: int;
    height: auto;
    background-color: #b784a7;
  }

  .spotify-player{
    background-color: #333;
    text-align: center;
    padding: 5px;
    margin: 10px;
  }

  .song-icon{
    grid-area: song-icon;
  }

  .songshd{
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
  }

  .songshd h1, .sources h1, .movies-intro h1, .yt-videos h2{
    margin-bottom: 0;
  }

  /*styling the cards*/
  .cards1, .cards2{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2% 0;
  }

  .card{
    color: #fff;
    width: 350px;
    height: 350px;
    margin-right: 10px;
    margin: 0 auto;
    border-radius: 10px;
    /* Set the transition effects */
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    -o-transition: -o-transform 0.4s;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
  }

  .card h3{
    font-family: 'Poiret One', cursive;
    font-size: 1.4em;
    margin-bottom: 1%;
    text-align: center;
  }

  .card.flipped {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
  }

  .card .front,
  .card .back {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .card .back{
    background: #333;
    position: absolute;
    border-radius: 10px;
    z-index: 3;
    top: 0;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 16px;
    line-height: 1.1em;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
  }

  /*adding in front bg img*/
  #card1, #card2, #card3, #card4, #card5, #card6{
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
  }

  #card1{
    background-image: url(../img/star-cd.png);
  }

  #card2{
    background-image: url(../img/joanne1.png);
  }

  #card3{
    background-image: url(../img/cheek.png);
  }

  #card4{
    background-image: url(../img/artpop.png);
  }

  #card5{
    background-image: url(../img/born.png);
  }

  #card6{
    background-image: url(../img/fame.png);
  }

  /*OMDB API styling*/
  .movies{
    grid-area: movie;
    color: #333;
    height: auto;
    background-color: #F7E7CE;
  }

  .movies h2{
    flex-basis: 100%;
    text-align: center;
  }

  .movie-icon{
    grid-area: movie-icon;
  }

  .movies-intro, .intro p{
    max-width: 90%;
  }

  .movies-intro p, .sources p, .intro p{
    text-align: left;
  }

  .posters{
    margin-bottom: 1%;
  }

  .poster-img{
    max-width: 90%;
    height: auto;
    flex-basis: 90%;
  }

  /*videos*/
  .videos{
    grid-area: video;
    height:100%;
    background-color: lightblue;
  }

  .video-icon{
    grid-area: video-icon;
  }

  .videos-intro, .yt-videos{
    flex-direction: column;
    max-width: 90%;
  }

  .video-players{
    margin: 3% 0;
  }

  .sources{
    grid-area: source;
    flex-direction: column;
    height: auto;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .sources h2{
    color: #fff;
    margin-bottom: 1%;
  }

  /*media queries*/
  @media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
      width: auto;
    }

    .timeline ol {
      padding: 0;
      transform: none !important;
    }

    .timeline ol li {
      display: block;
      height: auto;
      background: transparent;
    }

    .timeline ol li:first-child {
      margin-top: 25px;
    }

    .timeline ol li:not(:first-child) {
      margin-left: auto;
    }

    .timeline ol li div {
      width: 94%;
      height: auto !important;
      margin: 0 auto 25px;
    }

    .timeline ol li div {
      position: static;
    }

    .timeline ol li:nth-child(odd) div {
      transform: none;
    }

    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border: none;
      border-left: 1px solid white;
      height: 25px;
    }

    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .site{
      grid-template-columns: 100%;
      grid-template-rows: repeat(13, auto);
      grid-template-areas:
        'hero'
        'intro-icon'
        'intro'
        'time-icon'
        'time'
        'song-icon'
        'int'
        'video-icon'
        'video'
        'movie-icon'
        'movie'
        'news-icon'
        'news'
        'source';
    }

    .timeline ol li:nth-child(odd) div,
    .timeline ol li:nth-child(even) div{
      border-radius: 15px;
    }

    .hero{
      height: 667px;
    }

    iframe{
      width: 100% !important;
      height: 300px !important;
    }

    h1, .sources p{
      text-align: center !important;
    }

    h1{
      font-size: 3em !important;
    }

    p{
      line-height: 1em;
      margin-bottom: 5%;
    }

    .text h2{
      text-align: left;
    }

    .intro-icon, .time-icon, .news-icon, .song-icon, .movie-icon, .video-icon{
      padding: 7% 0;
    }

    .spotify-player{
      margin: 0;
    }
  }/*closing of media queries*/
}/*closing of supports*/
